# (This is a comment; Works like Python)
# -Current options and values (Option is first string, separated from value by '='-
# control = wasd / arrows
# fullscreen = true / false
# xres = int
# yres = int

control = wasd
fullscreen = true
xres = 1920
yres = 1080